@{
    ViewData["Title"] = "Registration Page";
}

<div class="text-center">
    <h1 class="display-4">Register</h1>
    <p>Ready to get started? Register now!</p>
    <p>@Html.ActionLink("Go to Registration Page", "Register", "Account", new { @class = "btn btn-primary" })</p>
</div>
