@{
    ViewData["Title"] = "Welcome to BookingApp";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BookingApp</h1>
    <p>Ready to get started?</p>
    <p>@Html.ActionLink("Register", "Register", "Account", new { @class = "btn btn-primary" })</p>
    <p>Already have an account? @Html.ActionLink("Login", "Login", "Account", new { @class = "btn btn-success" })</p>
</div>
