@{
    ViewData["Title"] = "Welcome to BookingApp";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BookingApp</h1>
    <p>Ready to get started?</p>
    <p>@Html.ActionLink("Register", "Register", "Account", new { @class = "btn btn-primary" })</p>
    <p>@Html.ActionLink("City List", "Index", "City", new { @class = "btn btn-primary" })</p>
    <p>@Html.ActionLink("Country List", "Index", "Country", new { @class = "btn btn-primary" })</p>
    <p>@Html.ActionLink("Post List", "Index", "Post", new { @class = "btn btn-primary" })</p>
</div>
