@{
    ViewData["Title"] = "Welcome to SportMedia.info";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SportMedia.info</h1>
    <p>Listen to this! <a href="url">https://www.youtube.com/watch?v=SsKT0s5J8ko</a></p>
    <p>@Html.ActionLink("Posts", "Index", "Post", new { @class = "btn btn-primary" })</p>
</div>
