@{
    ViewData["Title"] = "Welcome to SportMedia.info";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SportMedia.info</h1>
    <p>Listen to this! <a href="https://www.youtube.com/watch?v=lU1NnhGraLs&list=RDmVNc9I6rjbQ&index=2">LUNA</a></p>
</div>
